*{
    margin: 0;
}
.main{
    width:300px;
    height:400px;
    background-color: rgb(156, 130, 97);
}
.row{
    width:300px;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
}
button{
    background-color: grey;
    color: white;
    width: 70px;
    height: 80px;
    border-radius: 5px;
}
.eva{
    padding: 0px 5px 5px 5px;
}
.inp{
padding: 5px 5px 0px 5px;
}
.exp{
    width: 280px;
    height: 30px;
    text-align: center;
    border: none;
}
.fin{
    width: 280px;
    height: 30px;
    text-align: center;
    border: none;
}
.center{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}